<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokelon.toktales.extens.def.android" >
	
	<application>
		<activity android:name="com.tokelon.toktales.extens.def.android.activity.LoadTaleActivity"></activity>

		<activity
			android:name="com.tokelon.toktales.extens.def.android.activity.TaleActivity"
			android:screenOrientation="portrait"
			android:configChanges="orientation|screenSize">
		</activity>
	</application>
</manifest>