<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokelon.toktales.extens.def.android" >

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

	<application>
		<activity android:name="com.tokelon.toktales.extens.def.android.activity.LoadTaleActivity"></activity>

		<activity
			android:name="com.tokelon.toktales.extens.def.android.activity.TaleActivity"
			android:screenOrientation="portrait"
			android:configChanges="orientation|screenSize">
		</activity>
		
        <activity android:name="com.tokelon.toktales.android.activity.LoadMapActivity"></activity>
        <activity android:name="com.tokelon.toktales.android.activity.CreateMapActivity"></activity>
		
	</application>
</manifest>