<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokelon.toktales.android"
    android:versionCode="001011017"
    android:versionName="0.0.6" >

    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.tokelon.toktales.android.app.TokTalesApp" >

        <activity
            android:name=".RenderActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>

        <activity android:name="com.tokelon.toktales.android.activity.LoadMapActivity"></activity>
        <activity android:name="com.tokelon.toktales.android.activity.CreateMapActivity"></activity>

        <activity
            android:name="com.tokelon.toktales.android.activity.GameActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize">
        </activity>

        <activity android:name="com.tokelon.toktales.android.activity.SettingsActivity"></activity>
        <activity android:name="com.tokelon.toktales.android.activity.DebugPrefsActivity">
            <intent-filter>
                <action android:name="com.asera.tokelon.android.activity.DebugPrefsActivity"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
